body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 1.42857143;
    background: rgb(238,238,238);
    background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(172,158,168,1) 54%, rgba(162,177,180,1) 86%);
}

.nav {
    padding-left: 0;
    list-style: none;
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin-bottom: 20px;
}
.navs2 {
    margin-top: 0;
    margin-bottom: 10px;
    padding-inline-start: 40px;

}
ul li {
    display: inline-block;
    padding: 0.6rem;
}

ul li a {
    text-decoration: none;
    color: black;
}
ul li a:hover {
    text-decoration: none;
    color: #ffffff;
    transition: 0.7s;
}
@media screen and (max-width: 625px) {
    .nav{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}